* {
    padding: 10px;
    margin: 10px;
}



div {
    width: 350px;
    height:230px;
    border: 16px solid #4285F4;
    padding-top: 15px;
}

div[class="south"] {
    background-color: #A9E6E6;
}

div[class="north"] {
    background-color: #E67676;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    
}

p:last-child {
    line-height: 200px;
}