body {
    width: 700px;
}


h2 {
    color: #8A2BE2;
}

h1 {
    color: red;
}

ol > li {
    text-decoration: underline;
}

ol > li:nth-child(1) {
    color: magenta;
}

ol > li:nth-child(2) {
    color: magenta;
}

ol > li:nth-child(3) {
    color: magenta;
}


