body{
    background-color: goldenrod;
}

table {
    font-style: oblique;
    text-align: center;
    color: green;
    font-size: x-large;
}

table, th, td {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: dimgrey;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: dimgrey;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: dimgrey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: dimgrey;
}