<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>List of Todos</title>
</head>
<body style="background-color: dimgray">
<div class="table-responsive">
<nav>
<a class="nav-link active" href="/todo/add">Add new todo</a>
    <a class="nav-link active" href="/todo/assignee">Assignees</a>
</nav>
</div>
<h1 style="color: darkblue">Todos for today:</h1>
<div class="table-responsive">
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col" >ID</th>
        <th scope="col" >TITLE</th>
        <th scope="col" >URGENT</th>
        <th scope="col" >DONE</th>
        <th scope="col" >CREATED</th>
        <th scope="col" ></th>
        <th scope="col" ></th>
    </tr>
    </thead>
    <tr th:each="todo : ${list}">
        <td th:text="${todo.id}" ></td>
        <td th:text="${todo.title}" ></td>
        <td th:text="${todo.isUrgent()}" ></td>
        <td th:text="${todo.isDone()}" ></td>
        <td th:text="${todo.date}" ></td>
        <td> <a class="btn btn-danger" th:href="@{/todo/{id}/delete(id=${todo.id})}" role="button">DELETE</a> </td>
        <td> <a class="btn btn-default" th:href="@{/todo/{id}/edit(id=${todo.id})}" role="button">EDIT</a> </td>
    </tr>
</table>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>