<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>List of Todos</title>
</head>
<body style="background-color: goldenrod">
<div class="container-fluid" style="background-color: black">
<nav class="nav justify-content-left">
<a class="nav-link active" href="/todo/add" style="font-size: x-large">Add new todo</a>
</nav>
</div>
<h1 style="float: left">Todos for today:</h1>
<div class="container-fluid" style="background-color: goldenrod">
<table class="table table-hover table-bordered table-striped table-dark table table-sm ">
    <thead>
    <tr>
        <th scope="col" >ID</th>
        <th scope="col" >TITLE</th>
        <th scope="col" >URGENT</th>
        <th scope="col" >DONE</th>
        <th scope="col" >CREATED</th>
        <th scope="col" ></th>
        <th scope="col" ></th>
    </tr>
    </thead>
    <tr th:each="todo : ${list}">
        <td th:text="${todo.id}" ></td>
        <td th:text="${todo.title}" ></td>
        <td th:text="${todo.isUrgent()}" ></td>
        <td th:text="${todo.isDone()}" ></td>
        <td th:text="${todo.date}" ></td>
        <td> <a th:href="@{/todo/{id}/delete(id=${todo.id})}">DELETE</a> </td>
        <td> <a th:href="@{/todo/{id}/edit(id=${todo.id})}">EDIT</a> </td>
    </tr>
</table>
</div>
</body>
</html>